@model sakanat.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "تسجيل الدخول";
}

<link rel="stylesheet" href="~/css/login.css" />

<section >
    <div class="container">
        <div class="card text-white">
            <h1>Assiut Stay</h1>
            <h2>مرحبا بعودتك!</h2>

            @* @if (ViewBag.Error != null)
            {
                <div class="error-message alert alert-danger" >@ViewBag.Error</div>
            } *@

            <form asp-action="Login" method="post">
                <div class="email">
                    <i class="bi bi-person"></i>
                    <input asp-for="Email" placeholder="البريد الالكتروني" class="form-control " required />
                </div>
                    <span asp-validation-for="Email" class="text-danger mb-4 "></span>

                <div class="password">
                    <i class="bi bi-lock"></i>
                    <input asp-for="Password" placeholder="كلمة المرور"  id="passwordInput"  class="form-control" minlength="8" required />
                        <i class="bi bi-eye-slash " id="togglePassword" style="cursor:pointer; position:absolute; left:0; "></i> 
                </div>
                    <span asp-validation-for="Password" class="text-danger mb-4"></span>
                <input type="submit" value="سجل الدخول" class="btn btn-success w-100" />
            </form>
            <!--  Sultan: no have page for this feture-->
            @* <p><a class="forget" href="/Account/ForgotPassword">هل نسيت كلمة السر؟</a></p> *@
            <p>هل أنت لا تمتلك حساب؟ <a href="/Account/Register" class="regist">سجل حساب جديد الآن</a></p>
        </div>
    </div>
</section>

<script>
document.getElementById("togglePassword").addEventListener("click", function () {
    const passwordInput = document.getElementById("passwordInput");
    const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);

    // تغيير الأيقونة
    this.classList.toggle("bi-eye");
    this.classList.toggle("bi-eye-slash");
});
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}