@model sakanat.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "تسجيل الدخول";
}

<h2 class="text-center mb-4">تسجيل الدخول</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success w-100">دخول</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
