# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# npm packages
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Git
*.orig
