
            @{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/hero.css" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

<section class="hero vh-100 d-flex justify-content-center align-items-center text-center">
    <div class="container">
        <div class="title mb-4">
            <h1 class="display-3 mb-3">
                مرحبًا بكم في 
                <span class="main-color fw-bold">Assiut Stay</span>
            </h1>
         
        </div>

        <p class="fs-5 ">
            لا تضيع وقتك في البحث... اختر سكنك المثالي وابدأ حياتك الجامعية بثقة.
        </p>

        <div class="btns mt-5 d-flex justify-content-center flex-wrap">
            <a href="/Account/Login" class="btn btn-warning btn-hover border-0 text-black fs-5 rounded-3     mx-3 mb-4 px-4 py-2">
                تسجيل الدخول
            </a>
            <a href="/Account/Register" class="btn btn-warning btn-hover border-0 text-black fs-5 rounded-3 mx-3 mb-4    px-4 py-2">
                إنشاء حساب جديد
            </a>
        </div>
    </div>
</section>
