body,
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(43, 98%, 51%);
    --bg-card: hsl(43, 98%, 3%);
    --bg-input: hsl(43, 6%, 10%);
    /* font-size: 1vw; */
}
/* Register*/

.register-section {
    height: auto !important;
    padding: 4rem 0;
}
/*  login  */
section {
    background: url('/images/main/bg.png' ) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.card {
    background-color: var(--bg-card);
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    width: 500px;
    ;
}

    .card h1 {
        color: var(--main-color);
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .card h2 {
        margin-bottom: 1rem;
    }

/*.error-message{
    position:absolute;
}*/
.email {
    font-size: 2rem;
}

.card form {
    display: flex;
    flex-direction: column;
}

    .card form input[type="email"],
    .card form input[type="password"],
    .card form input[type="text"],
    .nationalId input,
    .phoneNumber input {
        border: none;
        background-color: var(--bg-input);
        width: 100%;
        vertical-align: bottom;
        padding-right: .5rem;
        padding: 1rem 0;
        margin-right: .5rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        color: white !important;
    }

        .card form input[type="email"]:focus,
        .card form input[type="password"]:focus,
        .card form input[type="text"]:focus
        .phoneNumber input:focus,
        .nationalId input:focus {
            outline: none;
            background-color: var(--bg-input);
        }

    .card form .form-control {
        border: none;
/*        background-color: var(--bg-input) !important;*/
        /*        color: white;*/
        padding: 1rem 0.5rem;
        /*        border-radius: 0.5rem;*/
        box-shadow: none;
        /*        direction:ltr*/
    }

        .card form .form-control:focus {
            background-color: var(--bg-input) !important;
        }

.email,
.password,
.name,
.phoneNumber,
.nationalId {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--bg-input) !important;
    border-radius: .5rem;
    margin-bottom: 1rem;
    position:relative; 
}


    .email i,
    .password i,
    .name i,
    .nationalId i,
    .phoneNumber i {
/*        width: 20%;*/
font-size:1rem;
padding : 0 1rem;
    }


.register-email i {
    font-size: 1rem;
}

.card input[type="submit"] {
    width: 100%;
    padding: .7rem;
    background-color: var(--main-color);
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
}

    .card input[type="submit"]:focus {
        outline: none;
    }

.card p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.forget {
    color: white;
    text-decoration: none;
}

.regist {
    color: var(--main-color);
}


/* Register */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-input) inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white; /* لون المؤشر */
}

.phoneInput {
    direction: rtl;
}


/*  reset eye for password in browser */

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button {
    display: none !important;
    pointer-events: none;
}


